.header {
    height: 70vh;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover; /* fill nicely */
    background-position: center center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  }
  
  /* Content inside hero/banner */
  .header-contents {
    animation: fadeIn 3s ease;
  }
  
  .header-contents h2 {
    font-weight: 600;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: max(4.5vw, 26px);
  }
  